<% layout('layouts/boilerplate') -%>

<h1>Reset Password</h1>

<form action="/reset/<%= token %>?_method=PUT" method="POST">
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="New password" autofocus>
  </div>
  <div>
    <label for="confirm">Email</label>
    <input type="password" id="confirm" name="confirm" placeholder="Confirm password">
  </div>
  <div>
    <input type="submit" value="Update Password">
  </div>
</form>
